@use 'src/colors'

.titleWrapper 
  width: 100%
  height: 140px
  background-color: colors.$blue-dark
  padding: 30px 23px
  box-sizing: border-box

  .titleLogo
    height: 80px

.telegramWidget
  width: 100%
  height: calc(100vh - 140px - 46px)
  display: flex
  justify-content: center
  align-items: center


