@use 'src/style/colors'
@import 'src/style/typography'

.createEventWrapper
    width: 100%
    height: calc(100vh - 46px)
    box-sizing: border-box
    display: flex
    flex-direction: column

    .createEventTitle
        @extend .H3
        color: colors.$gray-600
        padding: 18px 24px 24px

    .createEventForm
        display: flex
        flex-direction: column
        align-items: center

        .selectPlaceholder
            @extend .T1
            color: colors.$gray-200
        
        .buttonsPanel
            width: calc(100vw - 48px)
            max-width: calc(768px - 48px)
            margin-top: 18px
            display: flex
            flex-direction: row
            justify-content: space-between
            gap: 18px
            padding-bottom: 24px

            .createEventButton
                @extend .H6
                width: 147px
                height: 48px
                box-sizing: border-box
                border-radius: 8px
                justify-content: center
                align-items: center

            .backButton
                color: colors.$purple
                background-color: colors.$white
                border: 1px solid colors.$purple

                &:hover
                    color: colors.$white
                    background-color: colors.$blue
                    border: none

            .submitButton
                color: colors.$white
                background-color: colors.$blue

                &:hover
                    background-color: colors.$blue-light

.createEventPadding
    padding-left: 24px
    padding-right: 24px
