@use 'src/style/colors' as c
@import 'src/style/typography'

.toolbar
    color: c.$purple-light
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 7px
    padding-right: 7px

.returnButton
  color: inherit
  border: none
  background: transparent
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  gap: 8px
  padding-top: 15px
  padding-bottom: 15px

.statusContainer
  display: flex
  flex-direction: row
  align-items: center

.volunteerContainer
  display: flex
  flex-direction: column
  align-items: center

.volunteerName
  font-weight: bold

.volunteerGeneralInfo
  display: flex
  flex-direction: row

.infoLine
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center

.divider
  margin: 10px

.imageContainer
  position: relative
  display: flex
  flex-direction: column
  align-items: start
  justify-content: center

.image
  width: 80px
  height: 80px
  border-radius: 50%
  object-fit: cover
  margin-right: 20px

.email
  color: #007bff
  text-decoration: none
  font-size: 1rem
  margin-top: 10px

  &:hover
    text-decoration: underline

.telegramHandle
  color: #007bff
  text-decoration: none
  font-size: 1rem

  &:hover
    text-decoration: underline

.tabContainer 
  display: flex
  margin-top: 20px

  button 
    background-color: transparent
    border: none
    padding: 10px 20px
    font-size: 1rem
    cursor: pointer
    outline: none
    color: #6c757d /* Inactive tab text color */
    position: relative

    &:first-child 
      margin-right: 20px
    
    &:hover 
      color: #495057

    &.activeTab
      font-weight: bold /* Bold for active tab */
      color: #000000 /* Black text for active tab */
    
    &.activeTab::after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      background-color: #000000 /* Black underline for active tab */

.generalInfo
  text-align: left /* Align the text to the left */
  padding-left: 20px /* Indent content slightly */

  div
    font-size: 1rem
    color: #495057
    margin: 10px 0
    line-height: 1.5

.dot
  display: block
  width: 4px
  height: 4px
  border-radius: 50%

  &.green
    background-color: c.$green
  &.gray
    background-color: c.$gray-200
  &.red
    background-color: c.$red

.activeStatus
  margin: 0 5px
  color: c.$green

.inactiveStatus
  margin: 0 5px
  color: c.$red

.buttonContainer 
  display: flex
  flex-direction: row


.actionButton
  margin: 5px
  padding: 10px 15px 10px 15px
  background: transparent
  border-radius: 0.375rem
  cursor: pointer
  border: 1px solid c.$blue-dark
  color: c.$blue-dark
  font-weight: bold
  width: 100%

.removeButton
  color: c.$red
  border-color: c.$red