@use 'src/style/colors'
@import 'src/style/typography'

.manageUsersLoader
    margin-top: 50%

.manageUsersSearchLabel
    width: 100%

.manageUsersSearchInput
    width: 100%
    padding: 12px 12px 12px 40px
    background-image: url('src/assets/loupe.svg')
    background-position: 10px 10px
    background-repeat: no-repeat
