@use 'src/style/colors'
@import 'src/style/typography'

.volunteersBlockWrapper
  display: flex
  flex-direction: column
  width: 100%
  margin: 0 0 24px 0
  gap: 12px

  .volunteersBlockLogo
    margin-top: 80px
    height: 200px

    .emptyMessage
      @extend .T1
      text-align: center

.volunteersBlockWrapper
  display: flex
  flex-direction: column
  align-items: left
  justify-content: start
  padding: 20px
  width: 100%

.volunteersTitle
  font-weight: bold
  font-size: 30px
  color: colors.$gray-600

.searchbarWrapper
  width: 100%
  position: relative
  display: flex
  align-items: center
.searchBar
  width: calc(100vw - 48px)
  max-width: calc(768px - 48px)
  height: 48px
  border: 1.5px solid colors.$gray-200
  border-radius: 8px
  background-color: colors.$white
  padding: 25px
  box-sizing: border-box
  margin-top: 8px
  font-size: 20px
  padding-left: 45px

.searchIcon
  position: absolute
  left: 10px
  font: bold
  pointer-events: none

.phoneIconContainer
  display: flex
  align-items: center

.phoneIcon
  padding-right: 20px
  width: 23px
  height: 23px

.volunteerCard
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  border-bottom: 1px solid #ddd
  padding: 5px
  margin: 10px 0
  width: 100%
  color: colors.$gray-200

.volunteerFullName
  font-weight: bold
  font-size: 20px
  color: colors.$gray-600
  margin-bottom: 10px

.volunteerInfoWrapper
  display: flex
  align-items: center
  gap: 5px

.dotSpan
  display: flex
  align-items: center
  justify-content: center
  width: 10px
  height: 20px

.scrollToTopButton
  position: fixed
  color: black
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  padding: 10px 40px
  font-size: 15px
  border: 1px solid black
  border-radius: 5px
  cursor: pointer
  z-index: 10
  &:hover
    background-color: colors.$blue-bright
    border: colors.$blue-bright
    color: white

.loader
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.loadMoreButton
  @extend .H6
  width: 147px
  height: 48px
  box-sizing: border-box
  border-radius: 8px
  justify-content: center
  align-items: center
  color: colors.$purple
  background-color: colors.$white
  border: 1px solid colors.$purple

  &:hover
    color: colors.$white
    background-color: colors.$blue
    border: none

.eventsFilterIcon
  width: 25px
  height: 25px
  cursor: pointer
  margin-right: 70px
  border: 2px solid colors.$purple-light
  padding: 7px
  border-radius: 10px

.titleAndFilter
  display: flex
  justify-content: space-between
  align-items: center

.filterMenu
  display: flex
  flex-direction: column
  width: 100%
  margin: 0 0 24px 0
  gap: 12px
  z-index: 4

.resetButton
  color: colors.$blue-bright
  background-color: white
  border: none
  text-decoration: underline
  margin-right: 70px
  font-size: 15px
  font-weight: 200
  cursor: pointer

.filterSectionTitle
  font-weight: 600

.showBlockedTitle
  @extend .filterSectionTitle

.birthDateTitle
  @extend .filterSectionTitle

.genderSection
  @extend .languagesSection

.languagesSection
  display: flex
  flex-direction: column
  align-items: flex-start

  .genderSectionTitle
    @extend .filterSectionTitle

  .filterSectionTitle
    font-weight: bold
    margin-bottom: 12px

  .genderItem
    @extend .languageItem

  .languageItem
    display: flex
    align-items: center
    margin-bottom: 8px
    color: colors.$purple-light

    input
      margin-right: 8px

.languageInput
  width: 20px
  height: 20px
  border: 1px solid colors.$purple-light
  border-radius: 5px

.genderInput
  width: 20px
  height: 20px

.sliderWrapper
  display: flex
  justify-content: space-between
  align-items: center

.sliderLabel
  position: relative
  display: inline-block
  width: 40px
  height: 20px
  margin-right: 70px

.sliderInput
  opacity: 0
  width: 0
  height: 0

.sliderButton
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: lightgray
  border-radius: 34px
  transition: .4s

  &:before
    position: absolute
    content: ""
    height: 14px
    width: 14px
    left: 3px
    bottom: 3px
    background-color: white
    border-radius: 50%
    transition: .4s

.sliderInput:checked + .sliderButton
  background-color: blue

.sliderInput:checked + .sliderButton:before
  transform: translateX(20px)

.buttonsPanel
  width: calc(100vw - 48px)
  max-width: calc(768px - 48px)
  margin-top: 18px
  display: flex
  flex-direction: row
  justify-content: space-between
  gap: 18px
  padding-bottom: 24px

.noVolunteersFound
  margin-top: 10%
  text-align: center

.applyFilterButton
  @extend .H6
  width: 147px
  height: 48px
  box-sizing: border-box
  border-radius: 8px
  justify-content: center
  align-items: center

.backButton
  color: colors.$purple
  background-color: colors.$white
  border: 1px solid colors.$purple

  &:hover
    color: colors.$white
    background-color: colors.$blue
    border: none

.submitButton
  color: colors.$white
  background-color: colors.$blue-bright

  &:hover
      background-color: colors.$blue-light

.birthDateInput
  padding: 10px
  font-size: 15px
  border-radius: 5px 5px
  border: 1px solid colors.$purple-light
  text-transform: uppercase